<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <cpn></cpn>
    <cpn>
        <template slot-scope="scope">
            <span v-for="item in scope.data">{{item}} -- </span>
        </template>
    </cpn>
    <cpn></cpn>
</div>
<template id="cpn">
   <div>
       <slot :data="languages">
           <ul>
               <li v-for="item in languages">{{item}}</li>
           </ul>
       </slot>
   </div>
</template>
<script src="../js/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello World !'
        },
        components: {
            cpn: {
                template: '#cpn',
                data() {
                    return {
                        languages: ['java','c','python','go']
                    }
                }
            }
        }
    })
</script>
</body>
</html>