<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <div v-if="books.length">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>书籍名称</th>
                <th>出版日期</th>
                <th>价格</th>
                <th>购买数量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in books">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.date}}</td>
                <td>{{item.price | showPrice}}</td>
                <td>
                    <button @click="decrement(index)" :disabled="disable">-</button>
                    {{item.count}}
                    <button @click="increment(index)">+</button>
                </td>
                <td>
                    <button @click="removeBook(index)">移除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <h2>总价格: {{totalPrice | showPrice}}</h2>
    </div>
    <h2>购物车为空</h2>
</div>

<script src="../js/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            books: [
                {
                    id: 1,
                    name: '算法导论',
                    date: '2020-6',
                    price: 85,
                    count: 1
                },
                {
                    id: 2,
                    name: 'JAVA',
                    date: '2020-6',
                    price: 100,
                    count: 1
                }
            ],
            disable: false
        },
        computed : {
            totalPrice() {
                let totalPrice = 0
                /*for(let i = 0; i < this.books.length; i++) {
                    totalPrice += this.books[i].count * this.books[i].price
                }*/
                /*for(let i in this.books) {
                    totalPrice += this.books[i].count * this.books[i].price
                }*/
                totalPrice = this.books.reduce((a,b) => a.price * a.count + b.price * b.count)
                return totalPrice
            }
        },
        methods: {
            increment(index) {
                this.books[index].count++
                console.log('increment')
            },
            decrement(index) {
                if(this.books[index].count >= 2) {
                    this.books[index].count--
                }
                else {
                    this.disable = true
                }
            },
            removeBook(index) {
                this.books.splice(index, 1)
            }

        },
        filters: {
            showPrice(price) {
                return '￥' + price.toFixed(2)
            }
        }
    })
</script>
</body>
</html>