<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">

    <!-- 单选 -->
    <select name="abc" v-model="fruit">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <br>
    <br>

    <!-- 多选 -->
    <select name="def" v-model="fruits" multiple>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

</div>

<script src="../js/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            fruit: '3',
            fruits: []
        }
    })
</script>
</body>
</html>